html body {
    max-height: 100vh;
    min-height: 100vh;
    height: 100%;
}

.row {
    margin: 0;
    height: 100vh;
    min-height: 100vh;
}

.containerFlex {
    display: flex;
}

.flexbox-1 {
    flex: 1;
    align-self: flex-start;
    min-height: 100%;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
}

.flexbox-2 {
    flex: 2;
    margin-left: 10px;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.25rem;
    padding: 1em;
}

.addContactButton {
    width: 5em;
    border-radius: 0.25rem;
    margin: 2em;
}

.inputWrap {
    display: inline-flex;
    width: 100%;
}

.chatWindow {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    overflow-y: scroll;
    max-height: 100%;
    min-height: 89%;
    padding-left: 0;
}

li {
    display: block;
}

.contactList li {
    background-color: whitesmoke;
    border-radius: 0.25rem;
    margin: 0.25em;
    padding: 2rem;
}

p {
    padding-left: 0;
    line-height: 1.28;
    clear: both;
}

.footer {
    flex: 0 0 100% !important;
}

.receiverTextBobble {
    border-radius: 1.25rem !important;
    padding: 6px 12px;
    background-color: deepskyblue;
    float: right;
    min-width: 50px;
    color: #fff;
    max-width: 70%;
    border: 1.49px solid white!important;
    word-wrap: break-word;
    margin-right: 5px;
}

.receiverImgBobble {
    max-height: 50%;
    max-width: 70%;
    float: right;
}

.contactTextBobble {
    border-radius: 1.25rem !important;
    padding: 6px 12px;
    background-color: whitesmoke;
    float: left;
    min-width: 50px;
    max-width: 70%;
    border: 1.49px solid black;
    word-wrap: break-word;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.contactProfile {
    width: 100%;
    line-height: 3em;
    color: #fff;
}

p.contactProfile {
    clear: none;
}

.contactImg {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
    max-height: 28px;
    max-width: 28px;
}


/*Scrollbar*/


/* width */

 ::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 9px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #f8f9fa59;
    border-radius: 3px;
    border: 0.5px solid black;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}